<span id="todo-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %></span>
<ul id="filters">
	<li>
		<a class="selected" href="#/">Todas</a>
	</li>
	<li>
		<a href="#/active">Activas</a>
	</li>
	<li>
		<a href="#/completed">Completadas</a>
	</li>
</ul>
<% if ( completed ) { %>
<button id="clear-completed">Eliminar completas</button>
<% } %>